* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("images/pedro-lastra-Nyvq2juw4_o-unsplash.jpg");
  background-size: cover;
  overflow-y: hidden;
}

nav {
  position: fixed;
  background-color: rgba(27, 27, 27, 0.8);
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  padding: 2% 11%;
  max-height: 70px;
}
nav h1 {
  color: whitesmoke;
}

nav a {
  text-decoration: none;
}

.logo-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.fa-bolt {
  color: #1fdada;
  padding-right: 10px;
}

.nav-brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo-text {
  color: #212121;
  font-weight: 100;
}

.dark-mode {
  display: flex;
  justify-content: space-between;
  width: 10%;
  align-items: center;
  color: #1fdada;
}
#weather-cards {
  width: 100%;
  min-height: 100vh;
}
.search {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
input {
  font-size: 1.5rem;
  width: 90vw;
  border: 1px solid black;
  color: white;
  background-color: rgba(27, 27, 27, 0.7);
  padding: 0.5rem 4rem;
  border-radius: 100px;
  text-align: center;
  line-height: 40px;
}
button {
  border-radius: 100px;
  border: 1px solid black;
  font-size: 1rem;
  padding: 1rem 2rem;
  border: none;
  position: absolute;
  right: 5.3%;
  background-color: rgb(48, 107, 235);
  background-position: left center;
  color: whitesmoke;
  transition: 0.5s ease-in-out;
}

button:hover {
  background-position: right center; /* change the direction of the change here */
  background-color: #1fdada;
  color: black;
  transition: 0.5s ease;
}
.fa-moon {
  cursor: pointer;
}
.fa-sun {
  cursor: pointer;
}

.data-card {
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  color: whitesmoke;
  border-radius: 20px;
}
.card-head {
  text-align: center;
  font-family: "Poppins", sans-serif;
  background-color: rgba(31, 218, 218, 0.8);
  color: #212121;
  padding: 2% 0%;
}
.city-location {
  font-weight: 900;
  letter-spacing: 3px;
}
.card-content {
  text-align: center;
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgba(27, 27, 27, 0.9);
  min-height: 300px;
  padding: 40px 20px 0px 20px;
}

.temp-box {
  font-size: 1.2rem;
  color: whitesmoke;
}
.temperature {
  font-weight: 100;
  border-bottom: 2px solid #1fdada;
}

@media (max-width: 600px) {
  button {
    right: 5.8%;
    padding: 1rem 1rem;
  }
}
